.login ul li{
    list-style:none;
}
.login .left{
   float: left;
   font-size: 11px;
   height:30px;
   line-height:30px;
}
.login .left input{
    margin-left: 5px;
}
.login .right{
    width: 50px;
    margin: 8px 0px 0px 5px;
    float: left;
}
.login{
    width:350px;
    height:150px;
    text-align: center; /*让div内部文字居中*/
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: black 1px solid;

}
.login .top{
    width:348px;
    height:30px;
    line-height:30px;

    margin: auto;
    color:white;
    font-weight:bold;
    background-color: rgb(68,114,196);
}
.login_button{
    width:72px;
    height: 65px;
    font-size: 20px;
}
.message{
	width:100%;
	margin:0 auto;
	font-size: 11px;
	color:red; 
}
